{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="cont-col">
  <div class="ind">
    <h3>BAD ACTIONS AND BAD HABITS OF STUDENTS:</h3>

    <ol style="margin-left:40px;">
      <li>Do not have the mind to confront against the opponent.</li>
      <li>Do not drag your feet.</li>
      <li>Do not attack the opponent slowly or dully and without sharpness.</li>
      <li>Do not hold the opponent loosely and reluctantly.</li>
      <li>Do not doubt the mind of the opponent.</li>
      <li>Do not hurry your actions. (Depending on the situation, do not haste your actions and make sure that each move is precisely and mindfully done and with a calm mind.)</li>
      <li>Do not disturb the flow of the rhythm of the movements.</li>
      <li>Do not fear. (When you feel fear, your action will not be done with confidence.)</li>
      <li>Do not bend your hips. (Do not bend your back.)</li>
      <li>Do not tense your shoulders.</li>
      <li>Do not tense up your body. (Do not stiffen your body.)</li>
      <li>Do not put on airs or create mannerisms in your movements.</li>
    </ol>

    <p>The above actions are all bad. You should examine them carefully. Bad habits that are acquired while you are a beginner will be hard to be corrected. Do not over excite yourself during practice.</p>

    <p class="mt-4"><strong>Kubota Ikuhiro 8th Dan Shihan</strong></p>
  </div>
</div>
{% endblock %}
