{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <section class="col-lg-8">
    <h1 class="display-6 fw-semibold mb-4">International Teachers</h1>

    <p>The following high ranking teachers with international status are closely associated with De Beer Sensei and the Pretoria Aikikai.</p>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">RA Salmon</h5>
          <p class="mb-0"><em>Founder of Budo Karate-do International</em></p>
          <p class="mt-2 mb-0">Click <a href="346.asp">here</a> to read an article on RA Salmon.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/RSalmon.jpg') }}" alt="RA Salmon" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <hr>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">CJ Smart</h5>
          <p class="mb-0"><em>3rd Dan, Aikikai</em></p>
          <p class="mt-2 mb-0">Click <a href="347.asp">here</a> to read an article on CJ Smart.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/CSmart.jpg') }}" alt="CJ Smart" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <hr>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">KGE Cottier</h5>
          <p class="mb-0"><em>deceased, 7th Dan, Aikikai</em></p>
          <p class="mt-2 mb-0">A photo page dedicated to Sensei Cottier is available <a href="387.asp">here</a>. Click <a href="343.asp">here</a> to read an article on KGE Cottier.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/cottier.jpg') }}" alt="KGE Cottier" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <hr>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">G Veneri</h5>
          <p class="mb-0"><em>deceased, 6th Dan, Aikikai</em></p>
          <p class="mt-2 mb-0">Click <a href="348.asp">here</a> to read an article on G Veneri.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/GVeneri.jpg') }}" alt="G Veneri" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <hr>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">F Martufi</h5>
          <p class="mb-0"><em>6th Dan, Aikikai</em></p>
          <p class="mt-2 mb-0">Click <a href="344.asp">here</a> to read an article on F Martufi. Visit Martufi Sensei's website <a href="http://www.francomartufi.net/" target="_blank" rel="noopener">here</a>.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/fmartufi.jpg') }}" alt="F Martufi" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <hr>

    <div class="mb-4">
      <div class="row g-3 align-items-center">
        <div class="col-md-8">
          <h5 class="mb-1">M Minegishi</h5>
          <p class="mb-0"><em>7th Dan, Aikikai</em></p>
          <p class="mt-2 mb-0">Click <a href="345.asp">here</a> to read an article on M Minegishi. Visit Minegishi Sensei's website <a href="http://www.guamaikikai.org/" target="_blank" rel="noopener">here</a>.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ url_for('static', filename='assets/menegishi.jpg') }}" alt="M Minegishi" class="img-fluid" style="max-height:155px;">
        </div>
      </div>
    </div>

    <p class="mt-4">For more information on these teachers click the links above or consult the instructor.</p>
  </section>
</div>
{% endblock %}
